.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    padding: 30px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwTyiyfXf8xws3Vfb6KVWGkd9poIeTGn4aRg&usqp=CAU");
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  .register-container h2 {
    font-size: xx-large;
    line-height: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(185, 143, 143, 0.5);
  }
  .log
  {
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .input-container input {
    padding: 8px;
    width: 100%;
    border: 10px solid #eee7e7;
    border-radius: 3px;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 32px;
  }
  .reg
  {
  background-image: url("logo.svg");
  }